<!DOCTYPE html><html lang=en><head><title>kirc - {{ page.title }}</title><meta name=Description content="Minimum viable ideas and software solutions."><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"><style type="text/css">html,img{margin:3em auto;max-width:999px;max-width:80ch}body{background:#ffffeb;font-family:sans-serif}h1{font-size:1.3em;color:#4c4c99}h2{font-size:1em;color:#4c4c99}pre{font-size:0.8em;overflow-x:auto}nav{text-align:right}</style></head><body><nav><a href="index.html">home</a> <a href="./docs.html">docs</a></nav>
	{{ content }}
<footer><hr/><p>Copyright &copy; 2020-{{ 'now' | date: "%Y" }}, Michael Czigler</p></footer></body></html>

